<mat-form-field>
    @if (model().label()) {
        <mat-label>{{model().label()}}</mat-label>
    }

    <mat-select [formControl]="model().control"
                [disableRipple]="model().disableRipple()"
                multiple
    >
        @for (option of model().options(); track option.value) {
            <mat-option [value]="option.value"
                        [disabled]="option.disabled"
            >
                {{option.label}}
            </mat-option>
        }
    </mat-select>

    @if (model().prefix()) {
        <span matPrefix>{{model().prefix()}}</span>
    }

    @if (model().suffix()) {
        <span matSuffix>{{model().suffix()}}</span>
    }

    @if (model().suffixIcon()) {
        <mat-icon matSuffix>{{model().suffixIcon()}}</mat-icon>
    }

    @if (model().hint()) {
        <mat-hint>{{model().hint()}}</mat-hint>
    }

    @if (showError) {
        <mat-error>{{'TODO'}}</mat-error>
    }
</mat-form-field>
