<mat-form-field [floatLabel]="model().floatLabel()">
    @if (model().label()) {
        <mat-label>{{model().label()}}</mat-label>
    }

    <input matInput
         [formControl]="control"
         [placeholder]="model().placeholder()"
         [type]="model().inputType()"
    >

    @if (model().prefix()) {
        <span matPrefix>{{model().prefix()}}</span>
    }

    @if (model().suffix()) {
        <span matSuffix>{{model().suffix()}}</span>
    }

    @if (model().suffixIcon()) {
        <mat-icon matSuffix>{{model().suffixIcon()}}</mat-icon>
    }

    @if (model().hint()) {
        <mat-hint>{{model().hint()}}</mat-hint>
    }

    @if (showError) {
        <mat-error>{{'TODO'}}</mat-error>
    }
</mat-form-field>
